source_up_if_exists
__OS="$(awk -F'=' '/^NAME=/ {print $2}' /etc/os-release 2>/dev/null)"
__NIX_FILE="https://gitlab.com/Rellikeht/environments/-/raw/main/nixos_python_simple/nixos.shell.nix"
if [ "$__OS" = "NixOS" ]; then
    if [ ! -f "nixos.shell.nix" ]; then
        wget -O nixos.shell.nix "$__NIX_FILE"
    fi
    use nix nixos.shell.nix
fi
layout python3

source .direnv/python-3*/bin/activate
pip install --upgrade pip
pip install -r requirements.txt
